PORT=
API_URL=
NEXT_PUBLIC_API_URL=

FRONTEND_PORT=
FRONTEND_URL=
NEXT_PUBLIC_FRONTEND_URL=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

PGADMIN_EMAIL=
PGADMIN_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_CALLBACK_URL=
JWT_SECRET=
